opensbi
u-boot
rootfs_ext4
zion-guest
zion-host
qemu
output
*.o
*.log
.bash_history
patch/
tvm-driver/*.cmd
tvm-driver/tvm-control
tvm-driver/tvm-driver.ko
tvm-driver/tvm-driver.mod
tvm-driver/tvm-driver.mod.c
tvm-driver/Module.symvers
tvm-driver/modules.order
tvm-driver.mod
