opensbi
u-boot
rootfs_ext4
zion-guest
zion-host
qemu
output
*.o
*.log
.bash_history
patch/
tvm-driver/*.cmd
tvm-driver/tvm-control
tvm-driver/tvm-driver.ko
tvm-driver/tvm-driver.mod
tvm-driver/tvm-driver.mod.c
tvm-driver/Module.symvers
tvm-driver/modules.order
tvm-driver.mod
virt/initrd.img-6.6.87-win2030
utils/env/initrd.img
utils/env/initrd-ssh.img
utils/env/initramfs-ssh/
utils/docker/ubuntu-24.04-amd64.tar
utils/docker/ubuntu-24.04-riscv.tar
zion.zip
virt/rootfs.ext4
init.sh
*.patch
zion-new/
